<?xml version="1.0" encoding="UTF-8"?>
<config>
    <files>
            <echo>
                <![CDATA[<% point_start('hat');echo
'----------------------------------------------------------------------------
$Id: '.$version.'
 Rev: '.$svn_revision.', Modified: '.$svn_modified.'
 SVN: '.$svn_url.'$
----------------------------------------------------------------------------
'.$license.'
----------------------------------------------------------------------------'; point_finish() ;%>]]>
            </echo>

    </files>

	<!-- ************************************** -->
	<!-- **** все копируем на базу         **** -->
	<!-- ************************************** -->
	<files dir="site.src" dstdir="build/$mask">
		<file>$mask*.js</file>
        <file>test/$mask*.*</file>
	</files>
</config>