<?xml version="1.0" encoding="UTF-8"?>
<config>
    <files>
            <echo>
                <![CDATA[<% point_start('hat');echo
'****************************************************************************
$Id: '.$version.'
 Rev: '.$svn_revision.', Modified: '.$svn_modified.'$
****************************************************************************
'.$license.'
****************************************************************************'; point_finish() ;%>]]>
            </echo>

    </files>

	<!-- ************************************** -->
	<!-- **** все копируем на базу         **** -->
	<!-- ************************************** -->
	<files dir="site.src" dstdir="build/$dst">
		<file>$mask*.*</file>
        <file>test/$mask*.*</file>
        <file>doc/$mask*.*</file>
	</files>
</config>