<?xml version="1.0" encoding="UTF-8"?>
<config>
<!-- ****************************************************************** -->
<!-- ****   копируем файлы отсюда на место                          *** -->
<!-- ****************************************************************** -->
	<files dstdir="$dst">
		<file>*.php</file>
		<file>.htaccess</file>
		<file>protected/*.*</file>
	</files>

</config>