/*======= index-1.html =======*/

#page2 .line-ver {background-position: 383px 0%;}
#page2 .col-1 {width: 369px; padding: 0 15px 0 0;}
#page2 .col-2 {width: 359px; padding: 0 0 0 35px;}

/*======= index-2.html =======*/

#page3 .line-ver {background-position: 383px 0%;}
#page3 .col-1 {
	width: 369px;
	padding: 0 15px 0 0;
	font-size: 14em;
}
#page3 .col-2 {width: 359px; padding: 0 0 0 35px;}

/*======= index-3.html =======*/

#page4 .line-ver {background-position: 484px 0%;}
#page4 .col-1 {
	width: 470px;
	padding: 0 15px 0 0;
	color: #006;
}
#page4 .col-2 {width: 265px; padding: 0 0 0 28px;}

/*======= index-4.html =======*/

#page5 .line-ver {background-position: 383px 0%;}
#page5 .col-1 {width: 369px; padding: 0 15px 0 0;}
#page5 .col-2 {width: 359px; padding: 0 0 0 35px;}

/*======= index-5.html =======*/

#page6 .line-ver {background-position: 383px 0%;}
#page6 .col-1 {width: 369px; padding: 0 15px 0 0;}
#page6 .col-2 {width: 359px; padding: 0 0 0 35px;}
