* {
	margin: 0;
	padding: 0;
}

.wrapper {
    color: #000000;
    height: 346px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 750px;
}

.hidden { display:none;}

input, select {
	vertical-align: middle;
	font-weight: normal;
}

img {
	border: 0;
	vertical-align: top;
	text-align: left;
	font-size: 14px;
}
ul {
	list-style: none;
}
object {
	vertical-align: top;
}
a {
	color: #aac9cd;
}
a:hover {
	text-decoration: none;
}
body {
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1em;
	color: #ffffff;
}

.header {
	padding-right: 65px;
	padding-bottom: 10px;
    font-color:#8eaeb2;
    line-height: 1.5em;
	font-size: 1em;
}

h3 {
	padding: 0 0 6px 0;
	line-height: 1.5em;
	font-size: 1em;

}

.col-1, .col-2 {
	float: left;
	overflow: hidden;
}
#main {
	width: 980px;
	margin: 0 auto;
	font-size: 0.75em;
    position: relative;
}

#content {
	background: url(../images/content.jpg) no-repeat 0% 0%;
	position: relative;
	height: 346px;
	padding: 89px 94px 320px 108px;
}
#content p, #content ul {
	padding: 0 0 5px 1px;
	line-height: 1.222em;
	color: #000000;
	font-size: 12px;
}
#content ul{
    list-style: disc;
}

#menu {
	position: absolute;
	top: 506px;
	left: 107px;
	z-index: 2;
}
#menu {
	width: 957px;
	overflow: hidden;
}
#menu li {
	float: left;
	padding: 0 94px 0 0;
}
#footer {
	position: absolute;
	top: 521px;
	left: 10px;
	z-index: 1;
}
#page2 #logo {
	position: relative;
	top: 30px;
	left: 183px;
	z-index: 1;
}

.container {
/*	height: 326px; */
	padding: 0 10px 0 0;
	overflow: auto;
}
.title {
	min-height: 35px;
	height: auto !important;
	height: 35px;
	padding: 0 0 21px 2px;
	font-size: medium;
	color: #003;
}
.title-1 {
	min-height: 40px;
	height: auto !important;
	height: 40px;
	font-size: large;
    color:#8eaeb2;
    line-height: 1.5em;
    font-family: Tahoma;
}
.title-2 {
	min-height: 35px;
	height: auto !important;
	height: 35px;
	padding: 0 0 25px 5px;
	color: #006;
	font-size: 2em;
}

.link {
	background: url(/images/marker.gif) no-repeat 0% 5px;
	padding: 0 0 0 9px;
	color: #aac9cd;
}

#footer {
	width: 942px;
	height: 104px;
	margin: 0 auto;
}

#footer p {
    font-size: 1em;
    margin: 39px auto 0 auto;
    text-align:center;
	padding: 12px 0 0 0;
}
#footer p span {
	margin: 0 3px 0 0;
}
#footer p a {
	margin: 0 0 0 3px;
	color: #f8f8f8;
}

table.columns td {
    vertical-align: top;
}

#page2 .col-1 {width: 369px; padding: 0 15px 0 0;}
#page2 .col-2 {width: 359px; padding: 0 0 0 35px;}

