<?xml version="1.0" encoding="UTF-8"?>
<config>
    <files dir="engine" >
        <file>hosts.php</file>
    </files>

    <!-- ************************************** -->
    <!-- **** параметры проекта            **** -->
    <!-- ************************************** -->
	<var name="target_charset">UTF-8</var>
	<!-- ************************************** -->
	<!-- **** внедряем jinja шаблоны       **** -->
	<!-- ************************************** -->
	<files dir="plugins" >
		<file>jinja_template.php</file>
	</files>
    <!-- ************************************** -->
    <!-- **** placeholders			       **** -->
    <!-- ************************************** -->
    <files dir="plugins" >
        <file>placeholders.php</file>
    </files>
    <!-- ************************************** -->
    <!-- **** placeholders			       **** -->
    <!-- ************************************** -->
    <files dir="plugins/buttons" >
        <file>buttons.php</file>
    </files>
	<!-- ************************************** -->
	<!-- **** tabs      			       **** -->
	<!-- ************************************** -->
    <files dir="plugins.2" >
        <file>tabs.php</file>
    </files>
	<!-- ************************************** -->
	<!-- **** captcha   			       **** -->
	<!-- ************************************** -->
    <files>
        <file>plugins.2/captcha/captcha.ezavod.php</file>
    </files>
	<!-- ************************************** -->
	<!-- **** HackerConsole			       **** -->
	<!-- ************************************** -->
    <files  dstdir="$dst">
        <copy>Debug/HackerConsole/*.*</copy>
    </files>
	<!-- ************************************** -->
	<!-- **** горизонтальное меню сайта    **** -->
	<!-- ************************************** -->
<!--    <files dir="plugins.2" dstdir="$dst/engine">
        <file>altname.php</file>
    </files>-->
	<files dir="plugins.2/ulmenu" dstdir="$dst/img">
		<copy >*.gif</copy>
	</files>
	<files dir="plugins">
		<file>ulmenu.php</file>
	</files>
	<!-- **************************** -->
	<!-- **** jq UI integration **** -->
	<!-- **************************** -->
	<files>
	  	<file>plugins/jquery.UI.php</file> 
	</files>
	<!-- ************************************** -->
	<!-- **** мелкий порт cms в darts      **** -->
	<!-- ************************************** -->
	<files dstdir="$dst/engine" dir="admin/engine/">
		<file>rights.php</file>
		<file>engine.php</file>
		<file>syspar.php</file>
		<file>func.php</file>
		<file>html.class.php</file>
        <file>Generic.php</file>
        <file>templater.php</file>
        <file>Mysql.php</file>
        <file dir="admin/engine/plugins">news.php</file>
	</files>
	<!-- ************************************** -->
	<!-- **** вопрос-ответ и проч мура      **** -->
	<!-- ************************************** -->
	<files dstdir="$dst/engine" dir="plugins/forum/"> 
		<file>qa.php</file>
		<file>tree.php</file>
	</files>
	<!-- ************************************** -->
	<!-- **** gtalk нотификатор            **** -->
	<!-- ************************************** -->
	<files dir="plugins.2/">
		<file>gtalk.php</file>
	</files>
	<!-- ************************************** -->
	<!-- **** все копируем на базу         **** -->
	<!-- ************************************** -->
	<files dstdir="$dst" >
		<file name=".htaccess">htaccess</file>
	</files>
	<files dstdir="$dst">
		<file>engine/*.*</file>
		<file>*.php</file>
		<file>*.html</file>
        <file>css/*.*</file>
		<file>templates/*.*</file>
		<file>js/*.*</file>
		<copy>img/*.*</copy>
	</files>
</config>