html { height: 100%;}
body { margin: 0; padding: 0; }
* html body { height: 100%;  overflow: hidden;  }
body>.fixed { position: fixed; }
* html .fixed { position: absolute; }
/* html, body {}*/
/*************************************************/
/*	стандартные стили - сбрось маму с поезда... */
/**************************************************/
table{
	border:0px; /* border="0" */
	border-collapse:collapse; /* cellspacing="0" */
}
table td,table th{
	padding:1px; /* cellspadding="0" */
}
body{margin:0;padding:0;}
div{padding:0 ;margin:0 ;}
.c100 {width:100%;}
/******************************/
/*   раскраска таблицы очков  */
/* четные-нечетные */
table th.score {height:26px; text-align:center;}
table td.score {color:black;width:30px; text-align:center;  border:1px gray solid; }
.even .score { background: #CCFFff;}
.odd .score { background: #ffffcc;}
/*#turnnumber td { text-align:right; border:1px white solid;}*/
table td.kriket {height:26px;width:26px;background-color: #f0f0f0; text-align:center;  border:1px gray solid; }
.cross { background: url(../img/ik19.gif) no-repeat;}
/*************************************************/
/*	стрелки - подписи   */
/**************************************************/
.arrow {position:absolute; top:-1000px;left:0;z-index:4;}
.arrow img {position:absolute;}
.arrow p {position:absolute; top:10px;left:10px;color:#0000FF; font-size:xx-large; font-style:oblique; font-weight:bold; }
.arrow p.shadow {top:9px;left:9px;color: #ff0000;}
.magenta {background-color:#e0ffff;color:#1872bb;}
/*************************************************/
/*	чушики разные*/
/**************************************************/

.xxx input {width:90%;border:0; text-align:center; background-color:#CCFF99;}
.button {width:60px;}
.winner {background: red; border:white;}
/*.score {border:white solid 1px;}*/
.current {border:red solid 1px;}
/*tr {height:25px;}*/
.playerholder { vertical-align:top;}

