<?xml version="1.0" encoding="UTF-8"?>
<config>
<!--
	complete set of source files
-->
	<files dstdir="$dst/src">
		<copy>build.xml</copy>
		<copy>config.xml</copy>
		<copy>readme.txt</copy>
		<copy>*.php</copy>
	</files>

<!-- 
	preprocesor files ready to distribute
-->
    <files>
        <echo><![CDATA[<%
            point_start('hat');
include('rev.tmp');
       point_finish() ;%>]]></echo>
    </files>
	<files dstdir="$dst">
		<file>readme.txt</file>

		<echo name="history.txt"><![CDATA[
preprocessor project history
--------------------------------
<%=point('history');%>]]></echo>
        <echo name="howto.txt"><![CDATA[
preprocessor cookbook
--------------------------------
<%=point('cookbook');%>]]></echo>
		<file>*.php</file>
	</files>

</config>
